:root {
  --background-color: #121316;
  --primary: #dfd816;
  --secondary: #ef2917;
}

body {
  background-color: #121316;
}

.input-container {
  display: flex;
  border-bottom-style: solid;
  border-color: var(--primary);
  border-width: 3px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
}

.input {
  background-color: var(--background-color);
  border-style: none;
  color: var(--secondary);
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  width: 100%;
}

.input:focus {
  outline: none;
}
